{
	"mattn": {
		"address": "127.0.0.1:5000",
		"root": "/app/",
		"entries": [
			{ "path": "/foo", "backend": "http://localhost:5003" },
			{ "path": "/bar", "backend": "http://localhost:5004" },
			{ "path": "/baz", "backend": "./" }
		]
	}
}
